body {
    overflow: hidden;
    transition: background-color 1.5s ease-in;
    -webkit-app-region: no-drag;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

*+p {
    margin-top: 0.5rem !important;
}

#entryTextarea {
    overflow-x: hidden;
}

.h3 {
    font-size: 1.17em !important;
    font-weight: 500 !important;
}

.h5 {
    font-size: .83em !important;
    font-weight: 500 !important;
}

body.dark-theme {
    background-color: rgb(30, 30, 30);
}

body.dark-theme .appbar {
    background-color: #1d1d1d;
    transition: background-color 1.5s ease-in;
}

body.dark-theme #queryInput {
    color: rgb(170, 170, 170);
}

body.dark-theme .appbar a, body.dark-theme .appbar a.dropdown-toggle::before {
    color: rgb(170, 170, 170) !important;
    border-color: unset !important;
}

body.dark-theme .dialog {
    background-color: rgb(40, 40, 40);
}

body.dark-theme .welcome-page-title {
    color: rgb(132, 206, 254);
}

body.dark-theme li, body.dark-theme p, body.dark-theme b,
body.dark-theme h2, body.dark-theme code, body.dark-theme .dialog p,
body.dark-theme .dialog span, body.dark-theme .switch,
body.dark-theme input[type=file], body.dark-theme .dialog-title {
    color: rgb(170, 170, 170);
}

body.dark-theme .switch input[type="checkbox"]:checked~.check {
    background: green !important;
    border-color: rgb(170, 170, 170) !important;
}

a.dropdown-toggle::after {
    display: none !important;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

img.emoji {
    width: 20px;
    height: 20px;
}

.dialog {
    padding: 20px;
}

div[data-role="appbar"] {
    position: unset !important;
}

#titlebar {
    -webkit-app-region: drag;
    height: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
}

#titlebar p {
    margin-top: -5px !important;
}

#titlebar-control {
    display: flex;
    justify-content: flex-end;
}

#titlebar-control p {
    -webkit-app-region: no-drag;
    font-size: 18px;
    color: rgb(170, 170, 170);
    width: 20px;
    height: 25px;
    cursor: default;
    font-weight: 600;
    text-align: center;
}

#titlebar p#save-status {
    margin-left: 15px;
    color: black;
    font-size: 16px;
}

#minimize:hover, #maximize:hover {
    background-color: rgb(230, 230, 230);
}

#close {
    font-weight: 400;
}

#close:hover {
    background-color: red;
    color: white;
}

#journal-mode {
  height: calc(100vh - 90px);
  width: 100%;
}

#journal-mode .cell {
  border-right: 1px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 20px !important;
  max-height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

#content p, #content div {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#list .entry, #list .queryResult {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#datepicker {
  position: fixed !important;
  z-index: 1000 !important; /* required to keep calendar visible when clicked */
}

.sentiment {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.Happy {
  background-color: green;
}

.Angry {
  background-color: red;
}

.Sad {
  background-color: #FBCA04;
}

.Neutral {
  background-color: gray;
}

.Loved {
  background-color: hotpink;
}

.Excited {
  background-color: lime;
}

.d-menu li a {
  color: #727272 !important;
}

.d-menu li a:hover {
  color: #000 !important;
}

.dialog {
  width: 600px !important;
  max-width: 90vw !important;
}

.modern {
  height: 1em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 10px !important;
  display: block !important;
}

#queryInput {
  color: white;
}

input[type="text"] {
    border: 4px solid #e2e2e2;
    padding: 10px 12px;
    margin-bottom: 5px;
    width: 83%
}

input[type="text"], input[type="password"] {
    margin-top: 10px;
}

#welcome-page {
    margin-left: -15px;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.welcome-page-title {
    font-size: 36px;
    color: rebeccapurple;
    margin-top: 15px;
    font-weight: lighter;
}

.main-page-list li {
    margin-bottom: 10px;
}

#introDialog {
    height: 550px !important;
}

.action-bar {
    bottom: 0 !important;
}

#introDialog div[data-role="wizard"] section {
    height: 350px !important;
}

button.wizard-btn-help, button.wizard-btn-finish {
    display: none !important;
}

.targets {
    height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}

.wizard {
    height: auto !important;
}

textarea {
    height: 100px !important;
}

#emoji-box {
    flex: 0 0 94%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #727272;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

#editDialog {
    height: 700px !important;
}

select {
    padding: 5px;
}

p#add-nsfw-label {
    cursor: pointer;
    color: red;
    border-radius: 4px;
    border: solid 1px black;
    padding: 4px;
    width: fit-content;

    transition: background-color .2s ease-in, color .2s ease-in;
}

p#add-nsfw-label.active {
    color: white;
    background-color: red;
}

span.nsfw {
    color: red;
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 0.9rem;
}