.col {
  border-right: 1px solid lightgray;
  overflow: scroll;
  overflow-x: hidden;
  height: 87%;
  max-height: 87%;
}

#datepicker {
  position: fixed !important;
  z-index: 1000 !important; /* required to keep calendar visible when clicked */
}

.sentiment {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.Happy {
  background-color: green;
}

.Angry {
  background-color: red;
}

.Sad {
  background-color: yellow;
}

.Neutral {
  background-color: gray;
}

.d-menu li a {
  color: #727272 !important;
}

.d-menu li a:hover {
  color: #000 !important;
}

.dialog {
  width: 500px !important;
}

.modern {
  height: 1em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 10px !important;
  display: block !important;
}

#queryInput {
  color: white;
}